<header id="header">
    <div class="top-header bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <p class="desc white hot-line"><span class="smoke">Call Hotline:</span>+263774709370</p>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <ul class="search-cart-top list-inline-block pull-right">
                        <li>
                            <form class="search-hover" action="/search">
                                <input type="text" name="search" autocomplete="off" />
                                <input type="hidden" />
                                <span class="smoke"><i class="title18 white icon ion-ios-search-strong"></i>Search</span>
                            </form>
                        </li>
                      
                        {{#if login}}
                        <li>
                            <div class="mini-cart-box mini-cart1 dropdown1">
                                <a class="dropbtn sign-up smoke"><span class="white title18"><i class="icon ion-android-person"></i></span>{{user.firstname}}</a>
                                <div class="dropdown1-content">
                                    <a href="#" class="sign-up smoke color"><span class="black title18"><i class="icon ion-flash"></i></span>Profile</a>
                                    <a href="#" class="sign-up smoke color"><span class="black title18"><i class="icon ion-heart"></i></span>Wishlist</a>
                                    <a href="#" class="sign-up smoke color"><span class="black title18"><i class="icon ion-android-settings"></i></span>Settings</a>
                                    <a href="/user/logout" class="sign-up smoke color"><span class="black title18"><i class="icon ion-android-exit"></i></span>Logout</a>
                                </div>
                            </div>
                        </li>
                        {{else}}
                        <li>
                            <a href="/user/signup" class="sign-up smoke"><span class="white title18"><i class="icon ion-android-person"></i></span>Sign
                                Up</a>
                        </li>
                        <li>
                            <a href="/user/signin" class="sign-up smoke"><span class="white title18"><i class="icon ion-android-person"></i></span>Sign
                                In</a>
                        </li>
                        {{/if}}
                        <li id="cart-list">
                            <div class="mini-cart-box mini-cart1 dropdown-box">
                                <a class="mini-cart-link" href="/shopping-cart">
                                    <span class="mini-cart-icon title18 white"><i class="icon ion-android-cart"></i></span>
                                    <sup class="mini-cart-number white title10">{{session.cart.totalQty}}</sup>
                                    <span class="mini-cart-label smoke">Cart</span>
                                </a>
                                <div class="mini-cart-content dropdown-list text-left">
                                    <h2 class="title18 font-bold rale-font">{{session.cart.totalQty}} Item(s) in my cart</h2>
                        
                                    <div class="list-mini-cart-it em">
                                        {{#each session.cart.items}}
                                        <div class="product-mini-cart table">
                                            <div class="product-thumb">
                                                <a href="/detail-view" class="product-thumb-link"><img alt="" src="{{this.item.image}}"></a>
                                            </div>
                                            <div class="product-info">
                                                <h3 class="product-title title16 font-bold"><a href="#">{{this.item.title}}</a></h3>
                                                <div class="product-price">
                                                    <ins class="title14 font-bold"><span>${{this.price}}</span></ins>
                                                </div>
                                                <div class="mini-cart-qty">
                                                    <label>Qty:</label>
                                                    <span>{{this.qty}}</span>
                                                </div>
                                            </div>
                                            <div class="product-delete text-right">
                                                <a href="/remove-to-cart/{{this.item._id}}" class="remove-product"><i class="icon ion-trash-a"></i></a>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <div class="mini-cart-total text-uppercase rale-font title18 clearfix">
                                        <span class="pull-left">TOTAL</span>
                                        <strong class="pull-right color">${{session.cart.totalPrice}}</strong>
                                    </div>
                                    <div class="mini-cart-button">
                                        <a class="mini-cart-view shop-button color" href="/shopping-cart">View my cart
                                        </a>
                                        <a class="mini-cart-checkout shop-button color" href="/checkout">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header -->
    <div class="header-nav bg-white header-ontop">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-9">
                    <div class="logo logo1">
                        <h1 class="hidden">MiCourVision</h1>
                        <a href="#"><img src="images/home/home1/logo.png" height="70px" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-3">
                    <nav class="main-nav main-nav1 pull-right">
                        <ul class="list-inline-block">
                            <li class="">
                                <a href="/home"><i class="icon ion-ios-home"></i>Home</a>
                            </li>
                            <li><a href="/about"> <i class="icon ion-information"></i>About Us</a></li>
                            <li><a href="/contact"><i class="icon ion-ios-contact"></i>Contact Us</a></li>
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="/shop/mobile-list-view"><i class="icon ion-android-phone-landscape"></i>Mobile</a>
                                <div class="mega-menu sub-menu">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="cat-mega-list">
                                                <h2 class="title14 font-bold text-uppercase">Brands</h2>
                                                <ul class="list-none">
                                                    <li><a href="/shop/samsung-mobilelist">Samsung</a></li>
                                                    <li><a href="/shop/apple-mobilelist">Apple</a></li>
                                                    <li><a href="/shop/huawei-mobilelist">Huawei</a></li>
                                                    <li><a href="/shop/nokia-mobilelist">Nokia</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    {{#each featuredmobile}}
                                                    <div class="mega-featured-product">
                                                        <h2 class="title14 font-bold text-uppercase">FEATURED</h2>
                                                        <ul class="list-none">
                                                            {{#each this}}
                                                            <li><a href="/detail-view/{{this._id}}"><span class="text-capitalize">{{this.brand}} </span>{{this.title}}</a></li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div class="fade-out-in">
                                                        <a href="#" class="adv-thumb-link"><img src="images/menu/mega1.jpg" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="/shop/laptop-list-view"><i class="icon ion-android-laptop"></i>Laptop</a>
                                <div class="mega-menu sub-menu">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="cat-mega-list">
                                                <h2 class="title14 font-bold text-uppercase">Brands</h2>
                                                <ul class="list-none">
                                                    <li><a href="/shop/samsung-laptop-list">Samsung</a></li>
                                                    <li><a href="/shop/apple-laptop-list">Apple</a></li>
                                                    <li><a href="/shop/dell-laptop-list">Dell</a></li>
                                                    <li><a href="/shop/lenovo-laptop-list">Lenovo</a></li>
                                                    <li><a href="/shop/hp-laptop-list">HP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    {{#each featuredlaptop}}
                                                    <div class="mega-featured-product">
                                                        <h2 class="title14 font-bold text-uppercase">FEATURED</h2>
                                                        <ul class="list-none">
                                                            {{#each this}}
                                                            <li><a href="/detail-view/{{this._id}}"><span class="text-capitalize">{{this.brand}}
                                                                    </span>{{this.title}}</a></li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                    {{/each}}
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <div class="fade-out-in">
                                                        <a href="#" class="adv-thumb-link"><img src="/images/menu/mega2.jpg" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <a href="/shop/list-view"><i class="icon ion-bag"></i>Shop</a>
                            </li>
                        </ul>
                        <a href="#" class="toggle-mobile-menu"><span></span></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Nav -->
</header>