{{>header}}
<section id="content">
    <div class="container">
        <div class="content-pages">
            <div class="content-about content-checkout-page woocommerce">
                <hr>
                <h2 class="title30 font-bold text-center">Checkout</h2>
                <div class="row">
                    <form action="/checkout" method="post">
                        <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                            <div style="height: 20px"></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-ms-12">
                                    <div class="check-billing">
                                        <div class="form-my-account" action="/checkout" method="post">
                                            <h2 class="title title18 rale-font font-bold ">Billing
                                                Details</h2>
                                            <p class="clearfix box-col2">
                                                <input type="text" placeholder="First Name" name="name" required />
                                                <input type="text" placeholder="last name" name="surname" required />
                                            </p>
                                            <p><input type="text" placeholder="Company Name" name="company" required /></p>
                                            <p class="clearfix box-col2">
                                                <input type="text" placeholder="Email" name="email" required />
                                                <input type="text" placeholder="phone" name="phone" required />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-ms-12">
                                    <div class="check-address">
                                        <div class="form-my-account" action="/checkout" method="post">
                                            <p class="ship-address">
                                                <label>Shipping Address Details</label>
                                            </p>
                                            <p><input type="text" placeholder="Country *" name="country" required /></p>
                                            <p><input type="text" placeholder="Residential Address *" name="address"
                                                    required /></p>
                                            <p><input type="text" placeholder="Shipping Address *" name="deliveryAddress"
                                                    required /></p>
                                            <p class="clearfix box-col2">
                                                <input type="text" placeholder="Town / City *" name="city" required />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h3 class="order_review_heading bg-color">Your order</h3>
                            <div class="woocommerce-checkout-review-order" id="order_review">
                                <div class="table-responsive">
                                    <table class="shop_table woocommerce-checkout-review-order-table">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each product}}
                                            <tr class="cart_item">
                                                <td class="product-name product-thumbnail">
                                                    <a href="#"><img src="{{this.item.image}}" alt="" /></a>
                                                    {{this.item.title}} <span class="product-quantity">×
                                                        {{this.qty}}</span>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">${{this.price}}</span>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td><strong class="amount">${{totalPrice}}</strong></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td><strong><span class="amount">${{totalPrice}}</span></strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="woocommerce-checkout-payment" id="payment">
                                    <ul class="payment_methods methods list-none">
                                        <li class="payment_method_bacs">
                                            <input type="radio" data-order_button_text="" value="Direct Bank Transfer"
                                                name="payment_method" class="input-radio" id="payment_method_bacs"
                                                checked="checked">
                                            <label for="payment_method_bacs">Direct Bank Transfer </label>
                                            <div style="" class="payment_box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use
                                                    your
                                                    Order
                                                    ID as the payment reference. Your order won’t be shipped until
                                                    the
                                                    funds have cleared in our account. Go to profile to check Order ID</p>
                                            </div>
                                        </li>
                                        {{#if paycash}}
                                        <li class="payment_method_cod">
                                            <input type="radio" data-order_button_text="" value="cod" name="payment_method"
                                                class="input-radio" id="payment_method_cod">
                                            <label for="payment_method_cod">Cash on Delivery </label>
                                            <div style="display:none;" class="payment_box payment_method_cod">
                                                <p>Pay with cash upon delivery.</p>
                                            </div>
                                        </li>
                                        {{/if}}
                                    </ul>
                                    <div class="form-row place-order form-group">
                                        <input type="hidden" data-value="Place order" value={{totalPrice}} name="orderPrice"
                                            class="button alt bg-color form-control">
                                        <input type="submit" id="place_order" class="button alt bg-color form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content Pages -->
</section>
<!-- End Content -->
{{>footer}}