<!-- End Header -->

<section id="content">
    <div class="container">
        <!-- End Banner Slider -->
        <div class="bread-crumbs">
            <a href="/"><i class="icon ion-ios-home"></i></a>
            <a href="#">Laptop</a>
            <span>Dell</span>
        </div>
        <!-- End Bread Crumb -->
        <div class="content-pages">
            <div class="row">
                <div class="col-md-9 col-sm-offset-2 col-sm-8 col-sx-12">
                    <div class="title-product-detail">
                        <h2 class="title30 font-bold">{{product.title}}</h2>
                    </div>
                    <!-- End Title Product -->
                    <div class="detail-product detail-with-sidebar">
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <div class="mid">
                                        <img src="../{{product.image}}" alt="" />
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <div class="product-price">
                                        <ins class="font-bold"><span>${{product.price}}</span></ins>
                                    </div>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:100%"></div>
                                    </div>
                                    <p class="desc product-desc">{{product.shortDescription}}</p>
                                    <ul class="list-inline-block detail-qty-cart">
                                        <li>
                                            <a data-url="/addtoWishlist/{{product._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>

                                        </li>
                                        <li>
                                            <a href="/add-to-cart/{{product._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                        </li>
                                        <li>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Detail Product -->
                    <div class="detail-tabs">
                        <ul class="title-best-tab list-inline-block">
                            <li class="active"><a href="#tab1" data-toggle="tab" class="shop-button">Description</a></li>
                            <li><a href="#tab2" data-toggle="tab" class="shop-button">Additional Information</a></li>
                            <li><a href="#tab3" data-toggle="tab" class="shop-button">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active">
                                <div class="tab-desc">
                                    <h3 class="title18">Details</h3>
                                    <div class="tab-desc-thumb text-center">
                                        <div class="row">
                                            <div class="col-md-4"><img src="../{{product.imageSV}}" alt="" /></div>
                                            <div class="col-md-4"><img src="../{{product.image}}" alt="" /></div>
                                            <div class="col-md-4"><img src="../{{product.imageBV}}" alt="" /></div>
                                        </div>
                                    </div>

                                    <p class="desc">{{product.fullDescription}}</p>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <div class="detail-addition">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="desc">Frame Material: Wood</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Seat Material: Wood</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Adjustable Height: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Seat Style: Saddle</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Distressed: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Custom Made: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Number of Items Included: 1</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Folding: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Stackable: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Cushions Included: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Arms Included: No</p>
                                                </td>
                                                <td>
                                                    <div class="product-more-info">
                                                        <p class="desc">Legs Included: Yes</p>
                                                        <ul class="list-none">
                                                            <li><a href="#">Leg Material: Wood</a></li>
                                                            <li><a href="#">Number of Legs: 4</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Footrest Included: Yes</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Casters Included: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Nailhead Trim: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Weight Capacity: 225 Kilogramm</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Commercial Use: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Country of Manufacture: Vietnam</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <div class="detail-tab-review">
                                    <h3 class="title14">2 Review for "Retailer Car Product"</h3>
                                    <ul class="list-none list-tags-review">
                                        <li>
                                            <div class="review-author">
                                                <a href="#"><img src="../images/shop/author1.jpg" alt=""></a>
                                            </div>
                                            <div class="review-info">
                                                <p class="review-header"><a href="#"><strong>7up-theme</strong></a> –
                                                    March 30, 2017:</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                                <p class="desc">Really a nice stool. It was better than I expected in
                                                    quality. The color is a rich, honey brown and looks a little
                                                    lighter than pictured but still a great stool for the money.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="review-author">
                                                <a href="#"><img src="../images/shop/author2.jpg" alt=""></a>
                                            </div>
                                            <div class="review-info">
                                                <p class="review-header"><a href="#"><strong>7up-theme</strong></a> –
                                                    March 30, 2017:</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                                <p class="desc">Really a nice stool. It was better than I expected in
                                                    quality. The color is a rich, honey brown and looks a little
                                                    lighter than pictured but still a great stool for the money.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add-review-form">
                                        <h3 class="title14">Add a Review</h3>
                                        <p>Your email address will not be published. Required fields are marked *</p>
                                        <form class="review-form">
                                            <div>
                                                <label>Name *</label>
                                                <input name="name" id="name" type="text">
                                            </div>
                                            <div>
                                                <label>Email *</label>
                                                <input name="email" id="email" type="text">
                                            </div>
                                            <div>
                                                <label>Your Rating</label>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Your Review *</label>
                                                <textarea name="messasge" id="message" cols="30" rows="10"></textarea>
                                            </div>
                                            <div>
                                                <input class="shop-button radius4" value="Submit" type="submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Detail Tab -->
                </div>
            </div>
        </div>
        <!-- End Content Pages -->
    </div>
</section>
<!-- End Content -->