{{>header}}
<!-- End Header -->
<section id="content">
    <div class="banner-slider bg-slider banner-slider1">
        <div class="wrap-item" data-navigation="true" data-transition="fade" data-autoplay="true" data-itemscustom="[[0,1]]">
            <div class="item-slider item-slider1">
                <div class="banner-thumb"><a href="#"><img src="images/home/home1/slide1.jpg" alt="" /></a></div>
                <div class="banner-info animated" data-animated="fadeInLeft">
                    <div class="container">
                        <div class="banner-info-inner">
                            <h2 class="title30 color">Mobile Home</h2>
                            <h2 class="title30">Video & Air Quality Monitor New Collection</h2>
                            <a href="/shop/mobile-shop-list-view" class="shop-button color">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slider item-slider1">
                <div class="banner-thumb"><a href="#"><img src="images/home/home1/slide2.jpg" alt="" /></a></div>
                <div class="banner-info animated" data-animated="bounceInLeft">
                    <div class="container">
                        <div class="banner-info-inner">
                            <h2 class="title30 color">Steel HR</h2>
                            <h2 class="title30">Watch your heart Style your health.</h2>
                            <a href="/shop/list-view" class="shop-button color">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slider item-slider1">
                <div class="banner-thumb"><a href="#"><img src="images/home/home1/slide3.jpg" alt="" /></a></div>
                <div class="banner-info animated" data-animated="zoomInLeft">
                    <div class="container">
                        <div class="banner-info-inner">
                            <h2 class="title30 color">Laptop Home</h2>
                            <h2 class="title30">Video & Air Quality Monitor New Collection</h2>
                            <a href="/shop/laptop-shop-list-view" class="shop-button color">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Slider -->
    <div class="container">
        <div class="product-trending-box">
            <h2 class="title30 title-line-after font-bold">Trending</h2>
            <div class="product-trend-slider">
                <div class="wrap-item group-navi" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,2],[768,3],[990,4]]">
                    {{#each trending}}
                    {{#each this}}
                    <div class="item-product text-center style1">
                        <div class="product-thumb">

                            <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt="" /></a>
                            <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                view</a>
                        </div>
                        <div class="product-info">
                            <a href="#" class="cat-parent color">{{this.category}}</a>
                            <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                            <div class="product-price">
                                <ins class="font-bold"><span>${{this.price}}</span></ins>
                            </div>
                            <div class="product-extra-link style1">
                                <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)" class="wishlist-link color title30"><i
                                        class="icon ion-android-favorite-outline"></i></a>
                                <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add to cart</a>
                                <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                            </div>
                            <div class="product-rate">
                                <div class="product-rating" style="width:100%"></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- End Trending Box -->
    </div>
    {{#each dealoftheday}}
    {{#each this}}
    <div class="deal-of-day text-center bg-color2 white">
        <div class="row">
            <div class="col col-md-4 col-md-offset-2">
                <h2 class="title30 font-bold">Deal Of the Day</h2>
                <br>
                <div id="clockdiv" data-expdate="{{this.expdate}}">
                    <div>
                        <span id="days">00</span>
                        <div class="smalltext">Days</div>
                    </div>
                    <div>
                        <span id="hours">00</span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div>
                        <span id="minutes">00</span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span id="seconds">00</span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
                <br>
                <a href="#" class="shop-button white">Daily Deals</a>
            </div>
            <div class="col col-md-4">
                <div class="deal-of-thumb wow flipInX">
                    <img src="{{this.image}}" height="300" alt="" />
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/each}}
    <!-- End Deal -->
    <div class="container">
        <div class="category-product-box">
            <h3 class="title30 font-bold title-line-after">Mobile</h3>
            <div class="category-product-slider">
                <div class="wrap-item group-navi" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="item">
                        <div class="row">
                            {{#each featuredm1}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a style="" data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each smartphone1}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}"
                                                width="90px" height="180px" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <div class="row">
                            {{#each featuredm2}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each smartphone2}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
    </div>
    {{#each dealoftheday}}
    {{#each this}}
    <div class="deal-of-day text-center bg-color2 white">
        <div class="row">
            <div class="col col-md-4 col-md-offset-2">
                <h2 class="title30 font-bold">Deal Of the Day</h2>
                <br>
                <div id="clockdiv2">
                    <div>
                        <span id="days2">00</span>
                        <div class="smalltext">Days</div>
                    </div>
                    <div>
                        <span id="hours2">00</span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div>
                        <span id="minutes2">00</span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span id="seconds2">00</span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
                <br>
                <a href="#" class="shop-button white">Daily Deals</a>
            </div>
            <div class="col col-md-4">
                <div class="deal-of-thumb wow flipInX">
                    <img src="{{this.image}}" height="300" alt="" />
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/each}}
    <!-- End Deal -->
    <div class="container">
        <div class="category-product-box">
            <h3 class="title30 font-bold title-line-after">Laptop</h3>
            <div class="category-product-slider">
                <div class="wrap-item group-navi" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="item">
                        <div class="row">
                            {{#each featuredl1}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Laptop</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each laptop1}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Laptop</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <div class="row">
                            {{#each featuredl2}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Laptop</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each laptop2}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Laptop</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="category-product-box watch-cat">
            <h3 class="title30 font-bold title-line-after">Accessories</h3>
            <div class="category-product-slider">
                <div class="wrap-item group-navi" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="item">
                        <div class="row">
                            {{#each featureda1}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Watch</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each accessories1}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Watch</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                    <div class="item">
                        <div class="row">
                            {{#each featureda2}}
                            {{#each this}}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Watch</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{#each accessories2}}
                            {{#each this}}
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="{{this.image}}" alt=""></a>
                                        <a href="/detail-view/{{this._id}}" class="quickview-link fancybox fancybox.iframe">Detail
                                            view</a>
                                        <div class="product-label">
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Accessories</a>
                                        <h3 class="title16 font-bold product-title text-capitalize"><a href="#">{{this.title}}</a></h3>
                                        <div class="product-price">
                                            <ins class="font-bold"><span>${{this.price}}</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <div data-url="/addtoWishlist/{{this._id}}" onclick="addtoWishlist(this)"
                                                onclick="addtoWishlist(this)" class="wishlist-link color title30"><i
                                                    class="icon ion-android-favorite-outline"></i></div>
                                            <a href="/add-to-cart/{{this._id}}" class="addcart-link shop-button color">Add
                                                to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
    </div>

    <!-- End Client Box -->
    <div class="container">
        <div class="brand-box">
            <h2 class="title30 font-bold title-line-after">Popular Brands</h2>
            <div class="brand-slider">
                <div class="wrap-item group-navi" data-pagination="false" data-autoplay="true" data-navigation="true"
                    data-itemscustom="[[0,2],[480,3],[768,4],[990,5]]">
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand1.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand2.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand3.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand4.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand5.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand6.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand7.png" alt="" height="90px" /></a>
                    </div>
                    <div class="item-brand text-center">
                        <a href="#" class="wobble-horizontal"><img src="images/brand/homepage_brand8.png" alt="" height="90px" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand -->
    </div>

</section>
{{>footer}}
<script>
    function expiration() {
        var clock = document.getElementById('clockdiv');
        var stat = '';
        if (clock === null) {
            stat = 'false';
        } else {
            stat = 'true';
        }
        if (stat === 'true') {
            var a = clock.getAttribute("data-expdate");
            function convert(str) {
                var date = new Date(str),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                return [mnth, day, date.getFullYear()].join("/");
            }
            var dat = convert(a);
            setInterval(function () {
                date_future = new Date(dat);
                date_now = new Date();

                seconds = Math.floor((date_future - (date_now)) / 1000);
                minutes = Math.floor(seconds / 60);
                hours = Math.floor(minutes / 60);
                days = Math.floor(hours / 24);
                if (seconds > 0) {
                    hours = hours - (days * 24);
                    minutes = minutes - (days * 24 * 60) - (hours * 60);
                    seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);
                    document.getElementById('days').innerHTML = days;
                    document.getElementById('hours').innerHTML = hours;
                    document.getElementById('minutes').innerHTML = minutes;
                    document.getElementById('seconds').innerHTML = seconds;
                    document.getElementById('days2').innerHTML = days;
                    document.getElementById('hours2').innerHTML = hours;
                    document.getElementById('minutes2').innerHTML = minutes;
                    document.getElementById('seconds2').innerHTML = seconds;
                } else {
                    document.getElementById('days').innerHTML = "00";
                    document.getElementById('hours').innerHTML = "00";
                    document.getElementById('minutes').innerHTML = "00";
                    document.getElementById('seconds').innerHTML = "00";
                    document.getElementById('days2').innerHTML = "00";
                    document.getElementById('hours2').innerHTML = "00";
                    document.getElementById('minutes2').innerHTML = "00";
                    document.getElementById('seconds2').innerHTML = "00";
                }
            }, 1000);
        }

    }
    expiration();
</script>